[ req ]
distinguished_name = dn
req_extensions = req_ext
prompt = no
days = 365

[ dn ]
C=[COUNTRY]
ST=[STATE]
L=[LOCALITY]
O=[ORGANIZATION]
OU=[ORGANIZATION_UNIT]

[ req_ext ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
extendedKeyUsage = serverAuth

[ alt_names ]
DNS.1 = [mydomain.com]
DNS.2 = [server.mydomain.com
DNS.3 = [*.mydomain.com]
